<div class="jumbotron" id="contactmeJumbotron">
<h4>CONTACT ME</h4>

<div class="card text-xs-center card-block">
  <h2 class="card-title">Thanks for reaching out to me</h2>
  <p class="card-text">Please use this form if you have any question, comments, suggestions or simply want me to be part of your projects and I will get back to you.</p>

  <form>
    <div class="form-group row">
      <label for="name" class="col-xs-3 col-form-label">Name</label>
      <div class="col-xs-6">
        <input class="form-control" type="text" id="name">
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col-xs-3 col-form-label">Email</label>
      <div class="col-xs-6">
        <input class="form-control" type="email" id="email">
      </div>
    </div>

    <div class="form-group row">
      <label for="Subject" class="col-xs-3 col-form-label">Subject</label>
      <div class="col-xs-6">
        <input class="form-control" type="text" id="Subject">
      </div>
    </div>

    <div class="form-group row">
      <label for="Message" class="col-xs-3 col-form-label">Message</label>
      <div class="col-xs-6">
        <textarea name="message" class="form-control" id="message" cols="30" rows="10"></textarea>
      </div>
    </div>
  </form>

  <p class="card-text">&#42; For security purpose, I don't allow attachments. However, we could interchange attachments after the introductory email.</p>

</div>
</div>

