<div class="container">
    <div class="row" appCaLineOnTop text="STRAND"></div>

    <div class="row" id="ca-row-1">
        <div class="col-xs-12">
            <div class="card ca-text-center">
                <img src="assets/images/Strand/1.jpg" alt="" class="card-img-top" width="60%">
                <div class="card-block">
                    <h3 class="card-header">STRAND: Redisigning</h3>
                    <p class="card-text">This e-commerce retailer wants to redesign their site</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row ca-row-alternate">
        <div class="col-xs-12" appCaLineOnTop text="PROJECT<br>SUMMARY"></div>
        <div class="col-xs-10 offset-xs-2">
            <div class="card card-block ca-text-justify">
                <p class="card-text">STRAND bookstore that has over 18 miles of new, used and rare books. This small retailer have to make some changes to their site to be successfully competitive with large retailers like Amazon. In this project I designed a clickable prototype that makes the experience of buying online more pleasurable. My role was to research, design and test all UIs related to the project</p>
            </div>
        </div>
    </div>

    <div class="row ca-text-center">
        <div class="col-xs-4">
            <div class="card card-block">
                <h4 class="card-header">Date Timeline</h4>
                <p class="card-block">06/27/2016 - 07/08/2016</p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card card-block">
                <h4 class="card-header">Tools Used</h4>
                <p class="card-block">Omnigraffle, Sketch, Invision</p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card card-block">
                <h4 class="card-header">Target Device</h4>
                <p class="card-block">Website</p>
            </div>
        </div>
    </div>

    <div class="row" appCaGreenLineDivider marginTop="40px" marginBottom="40px"></div>
</div>
