<div class="container">
    <div class="row">
        <div class="col-sm-3 offset-sm-2 hidden-xs-down">
            <div class="card" id="imgCard">
                <img src="../../assets/images/temp-personal.jpg" alt="personal image" class="img-fluid">
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card" id="textCard">
                <div class="card-block">
                    <p class="card-text">Norka Avalos</p>
                    <p class="card-text">UX/UI Designer</p>
                    <p class="card-text">New York, NY</p>
                    <a href="" class="card-link">Linkedin Profile</a>
                    <a href="" class="card-link">Print Preview</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <h3 class="card-header">UI DESIGN</h3>
            <div class="col-xs-3"><div id="sketch" appCaCircularProgressBar animationValue="0.93" textValue="93"></div></div>
            <div class="col-xs-3"><div id="omnigraffle"></div></div>
            <div class="col-xs-3"><div id="invision"></div></div>
            <div class="col-xs-3"><div id="principle"></div></div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <h3 class="card-header">
                <div class="col-xs-3"></div>
                <div class="col-xs-3"></div>
                <div class="col-xs-3"></div>
                <div class="col-xs-3"></div>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="card" id="professionalExperince">
            <h3 class="card-header">PROFESSIONAL EXPERIENCE</h3>
            <div class="card-block">
                <div class="col-xs-3">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-subtitle">2016</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">UX Consultant/ Designer, Givz</h3>
                            <ul class="list-style">
                                <li>Conducted research, user interviews, and market analysis</li>
                                <li>Developed a mood board and emphaty diagram</li>
                                <li>Designed wireframes, created a clickable prototype and ran multiples user testing.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-block">
                <div class="col-xs-3">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-subtitle">2016</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">UX Consultant/ Designer, PomoWeb</h3>
                            <ul class="list-style">
                                <li>Designed the visual layout</li>
                                <li>Designed low and high fidelity wireframes, ran multiple user testing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-block">
                <div class="col-xs-3">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-subtitle"> 2013 - 2016</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">Lead Toddle Teacher, First Steps Academy</h3>
                            <ul class="list-style">
                                <li>Conducted methods of assessment every month during academic calendar</li>
                                <li>Designed assesment criteria and the graphic layout</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
