<div class="container">
    <div class="row">
        <div class="col-sm-3 offset-sm-2 hidden-xs-down">
            <div class="card" id="imgCard">
                <img src="../../assets/images/temp-personal.jpg" alt="personal image" class="img-fluid">
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card" id="textCard">
                <div class="card-block">
                    <p class="card-text">Norka Avalos</p>
                    <p class="card-text">UX/UI Designer</p>
                    <p class="card-text">New York, NY</p>
                    <a href="" class="card-link">Linkedin Profile</a>
                    <a href="" class="card-link">Print Preview</a>
                </div>
            </div>
        </div>
    </div>
</div>
