.container {
    font-family: 'didact gothic';
}

.card-header {
    background-color: transparent;
    border: 0;
}
img {
    border-radius: 60%;
    display: inline;
}

p {
    margin: 0;
}

#secondRow {
    margin-top: 60px;
}

.card {
    border: 0;
}

div#imgCard {
    text-align: center;
}

div#textCard {
    text-align: center;
}

div.ca-text-center {
    text-align: center;
}



// Extra small devices (portrait phones, less than 576px)
// Small devices (landscape phones, less than 768px)
// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
    #mycontainer {
        width: 100%;
    }
}
