.container {
    font-family: 'didact gothic';
}

.card-header {
    font-family: 'baloo thambi';
    background-color: transparent;
    border: 0;

}

.card-block {
    padding: 1.23rem 0;
}

img {
    border-radius: 60%;
    display: inline;
}

p {
    margin: 0;
}

#secondRow {
    margin-top: 60px;
}

.card {
    border: 0;
}

div#imgCard {
    text-align: center;
    img {
        width: 100%;
        height: auto;
    }
}

div#textCard {
    padding: 30px 0;
}

div.ca-text-center {
    text-align: center;
}


#logo{
    margin-top:30px;
    width: 300px;
}

// Extra small devices (portrait phones, less than 576px)
// Small devices (landscape phones, less than 768px)
// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
    #mycontainer {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #logo{
        margin-top:30px;
        width: 200px;
    }

    p.card-text {
        font-size:12px;
    }
}


