.container {
    margin-top: 50px;
}


.card-footer {
    background-color: transparent;
    border:0;

    &#strand {
        padding: 22px 0 32px 0;
    }
}


h5 {
    padding-left: 40px;
}

.card {
    border: 0;
    cursor: pointer;
}

.fa {
    text-align: center;
}

p.card-text {
    margin-bottom: 40px;
}

#mainRow {
    margin-top: 100px;
}

blockquote {
    border-left: 0;
    padding: 0;
    margin-bottom: 0;
}

a {
    color: #292F36;
}

.card-text {
    font-size: 20px;
    margin-bottom: 0;
}

.card-footer a {
    font-family: 'baloo thambi';
    font-size: 20px;
    font-weight: 900;
}
