<div class="container">
    <blockquote class="blockquote">"Design can speak the tongue of art with the force of commerce"</blockquote>
    <h5> - Danielle Sacks</h5>

    <div class="row" id="mainRow">
        <div class="col-sm-12 col-md-4">
            <div class="card ca-text-center" appCaHighlighter>
                <div class="card-header"><span class="fa fa-handshake-o fa-5x"></span></div>
                <div class="card-block">
                    <h2 class="card-title">GIVZ</h2>
                    <p class="card-text">Allow people to donate to charities easily</p>
                    <div class="card-footer">
                        <a href="" class="card-link">VIEW MORE ></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="card ca-text-center" appCaHighlighter>
                <div class="card-header"><span class="fa fa-clock-o fa-spin fa-5x"></span></div>
                <div class="card-block">
                    <h2 class="card-title">POMOWEB</h2>
                    <p class="card-text">Pomodoro Time Managment WebApp</p>
                    <div class="card-footer">
                        <a href="" class="card-link">VIEW MORE ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card ca-text-center" appCaHighlighter>
                <div class="card-header"><span class="fa fa-book fa-5x"></span></div>
                <div class="card-block">
                    <h2 class="card-title">STRAND</h2>
                    <p class="card-text">Redesign of their WebSite</p>
                </div>
                <div class="card-footer" id="strand">
                    <a href="" class="card-title display-5">VIEW MORE ></a>
                </div>
            </div>
        </div>
    </div>
</div>
