.container {
    margin-top: 50px;
}


.card-footer {
    background-color: transparent;
    border:0;

    &#strand {
        padding: 22px 0 32px 0;
    }
}


h5 {
    padding-left: 40px;
}

.card {
    border: 0;
    cursor: pointer;
    padding: 40px 0;
}

.fa {
    text-align: center;
}

p.card-text {
    margin-bottom: 40px;
}

#mainRow {
    margin-top: 80px;
}

blockquote {
    border-left: 0;
    padding: 0;
    margin-bottom: 0;
}

.card-text {
    font-size: 20px;
    margin-bottom: 0;
}

.card-footer a {
    font-family: 'baloo thambi';
    font-size: 20px;
    font-weight: 900;
}

.card-header {
    background-color: transparent;
    border: 0;
}

.ca-project-active {
    background-color: rgba(78, 205, 196, 0.60);
    .card {
        cursor: not-allowed;
        margin-bottom: 0;
        background-color: transparent;
    }
}

.ca-strand, .ca-pomoweb, .ca-givz {
    h2, p, a, span.fa {
        color: rgba(54, 62, 70, 0.6);
        // color: red;
    }
    &:hover {
        h2, p, a, span.fa {
            color: #292F36;
        }
    }
}
