.container-fluid {
    padding-top:20px;
}
.card-title {
    font-family: 'baloo thambi';
}

.card-text {
    text-align: center;
    font-family: 'didact gothic';
    font-size: 18px;
}

label {
    font-family: 'didact gothic';
}
