<div class="container">
    <div class="row" id="ca-row-1">
        <div class="col-xs-12">
            <div class="card card-block">
                <h3 class="card-header ca-text-center">SKETCHES</h3>
                <p class="card-text ca-text-justify">Before making any digital design, I decided to make rough sketches of the main pages to get the client's approval before moving on to digitalized sketches.'</p>
            </div>
        </div>
    </div>

    <div class="row" id="ca-row-2">
        <div class="col-xs-6">
            <div class="card ca-text-center"><img src="assets/images/Pomoweb/2.jpg" alt="" class="card-img-top" width="60%"></div>
        </div>
        <div class="col-xs-6">
            <div class="card card-block ca-text-justify">
                <h3 class="card-header">Landing Page:</h3>
                <p class="card-text">User gets a welcome to this website.</p>
            </div>
            <div class="card card-block ca-text-justify">
                <h3 class="card-header">Home Page:</h3>
                <p class="card-text">Users are able to add a task or view past tasks.</p>
            </div>
        </div>
    </div>

    <div class="row" id="ca-row-3">
        <div class="col-xs-6">
            <div class="card card-block ca-text-justify">
                <h3 class="card-header">Adding a task page:</h3>
                <p class="card-text">Users are able to enter a title and how many pomodoros.</p>
            </div>
            <div class="card card-block ca-text-justify">
                <h3 class="card-header">View my tasks page:</h3>
                <p class="card-text">Users see the lists of their tasks.</p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card ca-text-center"><img src="assets/images/Pomoweb/3.jpg" alt="" class="card-img-top" width="60%"></div>
        </div>
    </div>

    <div class="row" id="ca-row-4">
        <div class="col-xs-6">
            <div class="card ca-text-center"><img src="assets/images/Pomoweb/4.jpg" alt="" class="card-img-top" width="60%"></div>
        </div>
        <div class="col-xs-6">
            <div class="card card-block ca-text-justify">
                <h3 class="card-header">Timer running page:</h3>
                <p class="card-text">Users are able to see the title and how many pomodoros while the timer is running.</p>
            </div>
        </div>
    </div>

    <div class="row ca-row-alternate" id="ca-row-5">
        <div class="col-xs-12">
            <div class="card card-block">
                <h3 class="card-header">LOW-FIDELITY WIREFRAMES</h3>
                <p class="card-text">Once these sketches were presented, I made a few changes based on the client's suggestion and digitalized them on Sketch</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">1</strong>
                    </span>
                    <p class="card-text">The "Next" button was removed from the landing page</p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="card ca-text-center"><img src="assets/images/Pomoweb/5.png" alt="" class="card-img-top" width="60%"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="card ca-text-center"><img src="assets/images/Pomoweb/6.png" alt="" class="card-img-top" width="60%"></div>
            </div>
            <div class="col-xs-6">
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">2</strong>
                    </span>
                    <p class="card-text">A Side menu was added with the two main features</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">3</strong>
                    </span>
                    <p class="card-text">A "Description" field was added when the user creates a new task</p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="card ca-text-center"><img src="assets/images/Pomoweb/7.png" alt="" class="card-img-top" width="60%"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="card ca-text-center"><img src="assets/images/Pomoweb/8.png" alt="" class="card-img-top" width="60%"></div>
            </div>
            <div class="col-xs-6">
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">4</strong>
                    </span>
                    <p class="card-text">Tool icon was added next to the tasks. Users are able to delete, edit, or start the timer</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">5</strong>
                    </span>
                    <p class="card-text">A pop-up window appears when the timer is started showing the pomodor task details</p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="card ca-text-center"><img src="assets/images/Pomoweb/9.png" alt="" class="card-img-top" width="60%"></div>
            </div>
        </div>
    </div>

    <div class="row" id="ca-row-6">
        <div class="col-xs-12">
            <div class="card card-block">
                <h3 class="card-header">WIRE-FLOWS</h3>
                <p class="card-text">Once the design got approved, I developed wire-flows on Sketch to provide comprehensive picture system interaction between user and interface.</p>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="card ca-text-center">
                <img src="assets/images/Pomoweb/10.png" alt="" class="card-img bottom" width="60%">
            </div>
        </div>

        <div class="col-xs-12">
            <div class="card ca-text-center">
                <h3 class="card-header">STORYBOARD</h3>
                <p class="card-text">After developing the wireflow I created a storyboard. This method helped me to imagine an scenario where this Pomoweb App would be used throught out the story.</p>
                <img src="assets/images/Pomoweb/11.png" alt="" class="card-img-bottom" width="60%">
            </div>
        </div>
    </div>
</div>
