<div class="container">
    <div class="row ca-row-alternate" id="ca-row-1">
        <div class="card card-block ca-text-justify">
            <p class="card-text">I learned about the complex and fun process of creating a mobile app and how important is to every step of the process. Every method helps you to come up with useful ideas</p>
            <p class="card-text">During the interviews, I got genuinely surprised to find out that the main reason of avoiding online donation is the lengthy and complicated process of donating not the lack of resources. Therefore, we worked hard to make this process as simple and quick as we could.</p>
            <p class="card-text">The project had many challenges but the most difficult piece was coming out with a solution that covered the needs of our client and the expectations of the users. Our potential users wouldn't share in social media their donation and our client wanted a social feature.</p>
            <p class="card-text">While the whole project was a huge learning experience, I especially loved our design studio session. It was interesting to see how our ideas could look really dirrent from each other but by the time we put them together, they worked out well.</p>
        </div>
    </div>
    <div class="row" appCaGreenLineDivider id="ca-row-2"></div>
</div>
