<div class="container">

    <div class="row ca-row-alternate" id="ca-row-1">
        <div class="card card-block ca-text-center">
            <h3 class="card-header ca-text-green">LOW-FIDELITY WIREFRAMES</h3>
            <p class="card-text">First I designed low-fidelity wireframes of the potential new design using Sketch to be able to visualize all the changes for the site</p>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <img src="assets/images/Strand/25.png" alt="" class="card-img-top" width="70%">
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">1</strong>
                    </span>
                    <h6>Update inventory:</h6>
                    <p class="card-text">Users are able to see the new realeases and special editions in the home page</p>
                </div>
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">2</strong>
                    </span>
                    <h6>Contact Info:</h6>
                    <p class="card-text">Users are able to contact the store or have livechat</p>
                </div>
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">3</strong>
                    </span>
                    <h6>Simple layout:</h6>
                    <p class="card-text">Clean design as expected for users</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">4</strong>
                    </span>
                    <h6>Filters:</h6>
                    <p class="card-text">Users are able to refine the results for a faster and easier product search</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <img src="assets/images/Strand/26.png" alt="" class="card-img-top" width="70%">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <img src="assets/images/Strand/27.png" alt="" class="card-img-top" width="70%">
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">5</strong>
                    </span>
                    <h6>Customer's reviews:</h6>
                    <p class="card-text">Users are able to see what other people say about the product</p>
                </div>
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">6</strong>
                    </span>
                    <h6>Social media channels:</h6>
                    <p class="card-text">Users are able to share this product on their social channels</p>
                </div>
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">7</strong>
                    </span>
                    <h6>Item suggestions:</h6>
                    <p class="card-text">Users see releated item suggestions of this product or based on what they bought previously</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">8</strong>
                    </span>
                    <h6>Multiple shipping methods:</h6>
                    <p class="card-text">Users are able to pick a shipping method</p>
                </div>
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">9</strong>
                    </span>
                    <h6>Rewards for returning customers:</h6>
                    <p class="card-text">Users are rewarded with discounts for their next purchases</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <img src="assets/images/Strand/28.png" alt="" class="card-img-top" width="70%">
                </div>
            </div>
        </div>


    </div>

    <div class="row" id="ca-row-2">
        <div class="card card-block">
            <h3 class="card-header ca-text-green ca-text-center">LOW-FIDELITY USER TESTING FINDINGS</h3>
            <p class="card-text ca-text-justify">When the low-fidelity wireframes were done, I created a clickable prototype on Invision to use it during User testing. When the clickable prototype was ready, I conducted 4 user testings using Invision to analyze the proposed user-flows and to see the interaction between user and interface.</p>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <img src="assets/images/Strand/29.png" alt="" class="card-img-top" width="70%">
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">1</strong>
                    </span>
                    <p class="card-text">Font size too small, some text are hard to read</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">2</strong>
                    </span>
                    <p class="card-text">Users were expecting a feedback once the purchase was completed</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <img src="assets/images/Strand/30.png" alt="" class="card-img-top" width="70%">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card card-block">
                <h3 class="card-header ca-text-center ca-text-green">HIGH-FIDELITY WIREFRAMES</h3>
                <p class="card-text ca-text-justify">Once I was getting the same outcomes from my participants I made changes to the low-fidelity wireframes based on the usability testing and turned  the wireframes into high fidelity using Sketch to have a final version</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="card ca-text-center">
                        <h4 class="card-header">HOME PAGE</h4>
                        <img src="assets/images/Strand/31.jpg" alt="" class="card-img-bottom" width="40%">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="card ca-text-center">
                        <h4 class="card-header">BOOKS & MEDIA</h4>
                        <img src="assets/images/Strand/33.jpg" alt="" class="card-img-bottom" width="40%">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="card ca-text-center">
                        <h4 class="card-header">BOOK CATEGORY</h4>
                        <img src="assets/images/Strand/32.jpg" alt="" class="card-img-bottom" width="40%">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="card ca-text-center">
                        <h4 class="card-header">BOOK DETAILS</h4>
                        <img src="assets/images/Strand/34.jpg" alt="" class="card-img-bottom" width="40%">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="card ca-text-center">
                        <h4 class="card-header">SHOPPING BAG</h4>
                        <img src="assets/images/Strand/35.jpg" alt="" class="card-img-bottom" width="40%">
                    </div>
                    <div class="card ca-text-center">
                        <h4 class="card-header">ORDER CONFIRMATION</h4>
                        <img src="assets/images/Strand/37.jpg" alt="" class="card-img-bottom" width="40%">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="card ca-text-center">
                        <h4 class="card-header">CHECKOUT</h4>
                        <img src="assets/images/Strand/36.jpg" alt="" class="card-img-bottom" width="40%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" appCaGreenLineDivider="" marginTop="40px" marginBottom="40px"></div>
</div>
