<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-6 offset-md-2">
            <div class="card">
                <img src="assets/images/Pomoweb/1.jpeg" alt="" class="card-img-top" width="100%">
                <div class="card-block ca-text-center">
                    <h3 class="card-header">POMOWEB: time technique</h3>
                    <p class="card-text">Building a pomodoro-todo web app</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="card card-block ca-text-justify">
                <h3 class="card-header">Date Timeline</h3>
                <p class="card-text">07/22/2016</p>
                <p class="card-text">07/24/2016</p>
                <br>
                <h3 class="card-header">Tools Used</h3>
                <p class="card-text">Sketch</p>
                <br>
                <h3 class="card-header">Target Device</h3>
                <p class="card-text">Desktop Web</p>
                <br>
            </div>
        </div>
    </div>

    <div class="row ca-row-alternate" appCaLineOnTop text="PROJECT<br>SUMMARY" id="ca-row-2"></div>

    <div class="row ca-row-alternate" id="ca-row-3">
        <div class="col-sm-12 col-md-9 offset-md-3">
            <div class="card card-block">
                <p class="card-text">The pomodoro technique is a time management method that uses a timer to break down work into intervals, and usually its separated by short breaks. These short breaks are called POMODOROS. <br> Design and test a web app that enables users to add, edit, view a list of To-Do items, start a pomodoro timer and get alerts when the pomodoro is over.</p>
            </div>
        </div>
    </div>
</div>
