@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins';

@include media-breakpoint-up(xs) {
    li#mainName {
        display:block;
    }
}

@include media-breakpoint-up(sm) {
  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      &#mainName {
        display:inline-block;
      }
      float: none;
      display: inline-block;
    }
  }
}

