@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins';

.navbar {
  background-color: white;
  border-radius: 0;

  &.fixed-top {
    min-height: 80px;
  }

}

.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
        float: none;
        display: inline-block;
        a {
           color: #292F36;
        }
        &#mainName {
          a {
            font-size: 30px;
            font-style: italic;
          }
        }
    }

    a {
      font-family: 'Baloo Thambi';
      font-size:20px;
      &.active {
        text-decoration: underline;
      }
    }
}

@include media-breakpoint-up(xs) {
    li#mainName {
        display:block;
    }
}

@include media-breakpoint-up(sm) {
    li#mainName {
        display: inline-block;
    }
}

