#main{
  padding:0; // make jumbotrom take the full width
}

.navbar {
  button {
    border-color: transparent;
  }
}

.toCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
