@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins';
.navbar {
  position: fixed;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
        float: none;
        display: inline-block;
    }
}

@include media-breakpoint-up(xs) {
    li#mainName {
        display:block;
    }
}

@include media-breakpoint-up(sm) {
    li#mainName {
        display: inline-block;
    }
}

