<div class="container">
    <div class="row" id="ca-row-1">
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <h3 class="card-header">SCREEN SURVEY</h3>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="card">
                <div class="card-block">
                    <p class="card-text">After understanding the business goal, we creted an online survey using google forms. This method helped us to gather information on sentiment social good and online transactions. Also, we contacted some participants for the future of interviews.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row ca-row-alternate ca-text-center" id="ca-row-2">
        <div class="col-xs-12">
            <div class="card ca-text-justify">
               <h3 style="padding-top: 20px;">Some impacting results were:</h3>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="card">
                <img src="assets/images/Givz/4.png" alt="" class="card-img-top" width="80%">
                <div class="card-block ca-text-center">
                    <h5 class="card-text">47.4% of participants perform weekly mobile transactions</h5>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="card">
                <img src="assets/images/Givz/5.png" alt="" class="card-img-top" width="80%">
                <div class="card-block ca-text-center">
                    <h5 class="card-text">68.4% found Venmo as the easiest payment process on mobile</h5>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="card">
                <img src="assets/images/Givz/6.png" alt="" class="card-img-top" width="80%">
                <div class="card-block ca-text-center">
                    <h5 class="card-text">50% complete a majority of transactions on mobile</h5>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="card">
                <img src="assets/images/Givz/7.png" alt="" class="card-img-top" width="80%">
                <div class="card-block ca-text-center">
                    <h5 class="card-text">65.8% participants have donated money</h5>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="card">
                <img src="assets/images/Givz/8.png" alt="" class="card-img-top" width="80%">
                <div class="card-block ca-text-center">
                    <h5 class="card-text">65.8% participants do their own research when deciding on a charity to support</h5>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="card">
                <img src="assets/images/Givz/9.png" alt="" class="card-img-top" width="80%">
                <div class="card-block ca-text-center">
                    <h5 class="card-text">65.8% participants do their own research when deciding on a charity to support</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="ca-row-3">
        <div class="col-xs-12">
            <div class="card">
                <h3 class="card-header ca-text-center">COMPETITIVE ANALYSIS</h3>
                <div class="card-block">
                    <p class="card-text ca-text-justify">While we waited for our survey to be taken, we conducted research on the top 3 most relevant competitors. Also, we analyzed the user-flows of the most used comparative mobile applications. Our client suggested us to have these threee competitors to our analysis.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card"><img src="assets/images/Givz/10.png" alt="" class="card-img-top" width="100%"></div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card"><img src="assets/images/Givz/11.png" alt="" class="card-img-top" width="100%"></div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card"><img src="assets/images/Givz/12.png" alt="" class="card-img-top" width="100%"></div>
            </div>
        </div>

        <div class="col-xs-12">
            <h3 class="ca-text-center">COMPARATIVE ANALYSIS</h3>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card ">
                    <div class="card-block ca-vertical-align">
                        <p class="card-text ca-text-justify align-middle">During the survey we found that most people are familiar with Venmo and prefer its flow to do monetary transactions. Therefore, we decided to look a deeper look into Venmo app.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <div class="card ca-text-center"><img src="assets/images/Givz/13.png" alt="" width="70%" class="card-img-top"></div>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>

    <div class="row ca-row-alternate" id="ca-row-4">
        <div class="col-xs-12">
            <div class="card">
                <h3 class="card-header ca-text-center">USER INTERVIEWS</h3>
                <div class="card-block">
                    <p class="card-text">After two days of publishing the screener survey, we had 38 total participants. WE contacted 11 people to interview them as a next step. The purpose of user interviews was to uncover pain points, pleasures, needs and motivations about the process of donating to charities.</p>
                    <h5 class="card-header">User Interviews Findings:<br><br>Majority:</h5>
                    <ul>
                        <li>Comfortable with mobile transactions</li>
                        <li>Credit card saved on websites and mobile</li>
                        <li>Discover causes to support on socual media, but may be hesistant to share donation.</li>
                        <li>Frustration with lengthy donation process and may abandon donation</li>
                        <li>Prefer e-mail receipts, easier to reference in the future.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="ca-row-5">
        <div class="col-xs-12">
            <div class="card ca-text-center">
                <h3 class="card-header">EMPATHY MAPPING</h3>
                <div class="card-block">
                    <p class="card-text">After distilling the interviews we created an empathy map with the insights and quotes from the user interviews. This method helped us to bridge the gap between users and design concepts. Working with the project manager we used the mapping to proceed to persona creation.</p>
                </div>
                <img src="assets/images/Givz/14.png" alt="" class="card-img-bottom" width="80%">
            </div>
        </div>

        <div class="col-xs-12">
            <div class="card ca-text-center">
                <div class="card-block">
                    <p class="card-text">We assigned an specific color for each interviewed gor a general understanding, or for specific tasks and situations.</p>
                </div>
                <img src="assets/images/Givz/15.jpg" alt="" class="card-img-bottom" width="35%">
                <img src="assets/images/Givz/17.jpg" alt="" class="card-img-bottom" width="35%">
                <img src="assets/images/Givz/16.jpg" alt="" class="card-img-bottom" width="35%">
                <img src="assets/images/Givz/18.jpg" alt="" class="card-img-bottom" width="35%">
            </div>
        </div>
    </div>
    <div class="row ca-row-alternate" id="ca-row-6">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card card-block">
                    <h3 class="card-header">PERSONA DEVELOPMENT</h3>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="card card-block">
                    <p class="card-text">After analyzing the empathy mapping we created 3 personas by grouping common behaviors, to identify users and summarize user research. The personas helped us to keep in mind the goals of the business, solve their problems/needs and test the future ideas of the design</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="card ca-text-center">
                <img src="assets/images/Givz/19.png" alt="" class="card-img-top" width="80%">
                <img src="assets/images/Givz/20.png" alt="" class="card-img-top" width="80%">
                <img src="assets/images/Givz/21.png" alt="" class="card-img-top" width="80%">
            </div>
        </div>
    </div>

    <div class="row ca-text-center" id="ca-row-7">
        <div class="col-xs-12">
            <div class="card card-block"><h3>FEATURE PRIORITIZATION</h3></div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="card card-block">
                    <p class="card-text">After creating our personas we moved on to feature prioritization. We started by organizing them based on their value and urgency. For this stage of the research, we used two different methods: 2X2 quadrant and value proposition. Working hand by hand with our personas, we were able to determine which features needs to be included in the current design and what could be addressed in further versions.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <img src="assets/images/Givz/22.jpg" alt="" class="card-img-top" width="80%">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="card"><img src="assets/images/Givz/23.jpg" alt="" class="card-img-top" width="80%"></div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="card card-block">
                    <h6 class="card-header">2x2 Quadrant:</h6>
                    <p class="card-text">Identied the urgency and importance of every feature</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="card card-block">
                    <h6 class="card-header">Value Proposition:</h6>
                    <p class="card-text">Balances key objectives of the business and the user's experience to determine features'</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <img src="assets/images/Givz/24.jpg" alt="" class="card-img-top" width="80%">
                </div>
            </div>
        </div>
    </div>

    <div class="row" appCaGreenLineDivider id="ca-row-8"></div>
</div>
