<div class="container">

    <div class="row" id="ca-row-1">
        <div class="col-xs-12">
            <div class="card card-block">
                <h3 class="card-header ca-text-center">CONTEXTUAL INQUIRY</h3>
                <p class="card-block ca-text-justify">My first research method for this project was contextual inquiry. Visiting the store allowd me to know more about the brand and talk to the customers about their preference to shop at this bookstore. I used this data to keep in mind their brand for the re-design of their site.</p>
            </div>
        </div>

        <div class="row ca-text-center">
            <div class="col-xs-12 col-md-6">
                <div class="card"><img src="assets/images/Strand/2.jpg" alt="" class="card-img-top" width="80%"></div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="card card-block">
                    <h3 class="card-header">WHY STRAND?</h3>
                    <ul class="ca-text-justify">
                        <li>Good selection on new/used books</li>
                        <li>"I can sell my own books"</li>
                        <li>Variety of genres</li>
                        <li>Employees assistance to customers</li>
                        <li>Reasonable/cheap prices</li>
                        <li>Staff capable and able to help</li>
                        <li>Book for all ages</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row ca-row-alternate" id="ca-row-2">
        <div class="col-xs-12">
            <div class="card card-block">
                <h3 class="card-header ca-text-center">COMPARATIVE ANALYSIS</h3>
                <p class="card-text ca-text-justify">After doing the contextual inquiry I conducted competitive and comparative analysis. Using Numbers I created charts for comparison and easier understanding. This analysis helped me to get familiar with the 3 most relevant competitors. I used the result to see in which ways the flow of the competitors website could be improved</p>
                <br>
                <h4 class="card-text ca-text-justify">These 3 most relevant competitors were mentioned by the people I talked to in the store while I conducted Contextual Inquiry.</h4>
            </div>

            <div class="row ca-text-center">
                <div class="col-xs-4">
                    <div class="card">
                        <img src="assets/images/Strand/3.jpg" alt="" class="card-img-top" width="200px" height="150px">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="card">
                        <img src="assets/images/Strand/4.jpg" alt="" class="card-img-top" width="200px" height="150px">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="card">
                        <img src="assets/images/Strand/5.png" alt="" class="card-img-top" width="200px" height="150px">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="card card-block">
                        <p class="card-text ca-text-justify">Competitors can tell us a lot. For example, what conventions are used in the industry, how we could make the difference and also what features might not be available, therefore I made these comparison charts based on my own research:</p>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="card ca-text-center">
                        <h4 class="card-header ca-text-center">Marketing Positining Comparison Chart</h4>
                        <img src="assets/images/Strand/6.png" alt="" class="card-img-bottom" width="70%">
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="card ca-text-center">
                        <h4 class="card-header ca-text-center">IA Heuristic Comparison Chart</h4>
                        <img src="assets/images/Strand/7.png" alt="" class="card-img-bottom" width="70%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="ca-row-3">
        <div class="card card-block">
            <h3 class="card-header ca-text-center">PERSONAS</h3>
            <p class="card-text">After processing the research, I got 3 personas to stay focused on their needs and expectations as users. I summarized all their needs and what to avoid based on their past experiences.</p>
        </div>

        <div class="card ca-text-center">
            <h4 class="card-header">My design had to meet the goals of the 3 personas, mostly for Daria since she was the main user I had to design for.</h4>
            <img src="assets/images/Strand/8.png" alt="" class="card-img-top" width="70%">
            <img src="assets/images/Strand/9.png" alt="" class="card-img-top" width="70%">
            <img src="assets/images/Strand/10.png" alt="" class="card-img-top" width="70%">
        </div>

        <div class="card card-block">
            <h3 class="card-header ca-text-center">CARD SORTING</h3>
            <p class="card-text ca-text-justify">Following the research, I did card sorting using print outs of 100 actual products from the store. I had 8 participants organized these products in a sequence order that makes better sense for them. This cart sorting method helped me to define the categories of the products and how users would look for them.</p>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="card ca-text-center">
                    <img src="assets/images/Strand/11.png" alt="" class="card-img-bottom" width="30%">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="card ca-text-center">
                    <img src="assets/images/Strand/12.png" alt="" class="card-img-bottom" width="30%">
                </div>
            </div>
        </div>

        <div class="card card-block">
            <h5 class="card-header ca-text-center">The first 4 participants did open-card-sorting allowing me to see and understand what product categoiers were expected by users and what other features they needed during the buying process.</h5>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="card ca-text-center">
                    <img src="assets/images/Strand/13.png" alt="" class="card-img-bottom" width="30%">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="card ca-text-center">
                    <img src="assets/images/Strand/14.png" alt="" class="card-img-bottom" width="30%">
                </div>
            </div>
        </div>

        <div class="card card-block">
            <h5 class="card-header ca-text-center">The other 4 participants were asked to do closed-card sorting; giving them specific product categories they had to organize the store products. This method helped me to test the categories I obtained during the open-card-sorting.</h5>
        </div>

        <div class="card ca-text-center">
            <div class="card-block">
                <h3 class="card-header ca-text-center">SITEMAP</h3>
                <p class="card-text ca-text-justify">Followed by compiling the outcomes of the cardsorting, I created a sitemap using Omnigraffle to have the main and subcategories of the potential website.</p>
            </div>
            <img class="card-img-bottom" src="assets/images/Strand/15.png" alt="" width="70%">
        </div>

        <div class="card">
            <div class="card-block">
                <h3 class="card-header ca-text-center">USERFLOWS</h3>
                <p class="card-text">Before getting into the design stage, I did user-flows on 3 different process of the competitors website using Omnigraffle. These user-flows helped me to have a better understanding of what is expected during these flows for customers.</p>
            </div>
        </div>

        <div class="row ca-text-center">
            <div class="col-xs-6">
                <div class="card"><img src="assets/images/Strand/16.png" alt="" class="card-img-top" width="40%"></div>
            </div>
            <div class="col-xs-6">
                <div class="card card-block">
                    <h5 class="card-text ca-text-center">This key was used for the competitors user-flows</h5>
                </div>
            </div>
        </div>

        <div class="card card-block">
            <h5 class="card-text">I based these user-flows on one common product along my e-commerce site and the 3 more relevant competitors.</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <div class="card"><img src="assets/images/Strand/17.png" alt="" class="card-img-top" width="70%"></div>
        </div>
        <div class="col-xs-4">
            <div class="card card-block">
                <h6 class="card-text">4 User actions</h6>
                <h6 class="card-text">3 System reactions</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="card"><img src="assets/images/Strand/18.png" alt="" class="card-img-top" width="70%"></div>
        </div>
        <div class="col-xs-4">
            <div class="card card-block">
                <h6 class="card-text">3 User actions</h6>
                <h6 class="card-text">2 Pop-ups</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="card"><img src="assets/images/Strand/19.png" alt="" class="card-img-top" width="70%"></div>
        </div>
        <div class="col-xs-4">
            <div class="card card-block">
                <h6 class="card-text">4 User actions</h6>
                <h6 class="card-text">2 System reactions</h6>
                <h6 class="card-text">1 Pop-up</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="card"><img src="assets/images/Strand/20.png" alt="" class="card-img-top" width="70%"></div>
        </div>
        <div class="col-xs-4">
            <div class="card card-block">
                <h6 class="card-text">4 User actions</h6>
                <h6 class="card-text">2 System reactions</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="card"><img src="assets/images/Strand/21.png" alt="" class="card-img-top" width="70%"></div>
        </div>
        <div class="col-xs-4">
            <div class="card card-block">
                <h6 class="card-text">1 User actions</h6>
                <h6 class="card-text">1 Pop-up</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="card"><img src="assets/images/Strand/22.png" alt="" class="card-img-top" width="70%"></div>
        </div>
        <div class="col-xs-4">
            <div class="card card-block">
                <h6 class="card-text">5 User actions</h6>
                <h6 class="card-text">4 System response</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="card"><img src="assets/images/Strand/23.png" alt="" class="card-img-top" width="70%"></div>
        </div>
        <div class="col-xs-4">
            <div class="card card-block">
                <h6 class="card-text">3 User actions</h6>
                <h6 class="card-text">1 Pop-up</h6>
                <h6 class="card-text">2 Optional paths</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="card"><img src="assets/images/Strand/24.png" alt="" class="card-img-top" width="70%"></div>
        </div>
        <div class="col-xs-4">
            <div class="card card-block">
                <h6 class="card-text">3 User actions</h6>
                <h6 class="card-text">2 Sustem response</h6>
            </div>
        </div>
    </div>

    <div class="row" appCaGreenLineDivider marginTop="40px" marginBottom="40px"></div>
</div>
