<div class="container">
    <div class="row ca-row-alternate" id="ca-row-1">
        <div class="col-xs-12">
            <div class="card card-block ca-text-justify">
                <p class="card-text">I did this project while I was in UX school. This project helped me to understand how important is the research part and how our job as a designer is always think that we are not the user. Since I did no research I couldn't find out some dificulties or challenges that the users might have using this website.</p>
                <p class="card-text">
                    The most challenging part of this project was when I worked on some methods that were completely new to me, had to do some research and teach myself the process of them and got the results I was expecting. This challenges helped me to learn new things and learned from my mistakes.
                </p>
            </div>
        </div>
    </div>
</div>
