<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card ca-text-center">
                <h3 class="card-header">DESIGN STUDIO</h3>
                <div class="card-block">
                    <p class="card-text">After doing feature prioritization we applied the design studio method. Using paper and a sharpie, we time-boxed ourselves to generate many ideas for the potential design. After an hour, we compiled our most appealing ideas to come up with a low fidelity wireframes.</p>
                </div>
                <img src="assets/images/Givz/25.jpg" alt="" class="card-img-bottom" width="40%">
                <img src="assets/images/Givz/26.jpg" alt="" class="card-img-bottom" width="40%">
            </div>
        </div>
    </div>

    <div class="row ca-row-alternate" id="ca-row-2">
        <div class="col-xs-12">
            <div class="card card-block">
                <h3 class="card-header">WIREFRAMES</h3>
                <p class="card-text">Our first step was to create low-fidelity wireframes to think of the layout of the app. We divided the main wireframes and digitalized them in Sketch. We used these wireframes to create the first prototype.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card ca-text-center">
                    <img src="assets/images/Givz/27.png" alt="" class="card-img-top" width="50%">
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">1</strong>
                    </span>
                    <h6>Donation progress:</h6>
                    <p class="card-text">Users are able to see the impact of their donations</p>
                </div>
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">2</strong>
                    </span>
                    <h6>About:</h6>
                    <p class="card-text">Detailed information about the Organization and their goals</p>
                </div>
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">3</strong>
                    </span>
                    <h6>Support this cause:</h6>
                    <p class="card-text">One tap away to start the donation process</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">4</strong>
                    </span>
                    <h6>Detailed information:</h6>
                    <p class="card-text">Users are informed about how their donation will be spent</p>
                </div>
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">5</strong>
                    </span>
                    <h6>Microdonation capability:</h6>
                    <p class="card-text">Users are able to input amount to donate</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="card ca-text-center">
                    <img src="assets/images/Givz/28.png" alt="" class="card-img-top" width="50%">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card ca-text-center"><img src="assets/images/Givz/29.png" alt="" class="card-img-top" width="50%"></div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="card card-block">
                    <span class="fa-stack fa-2x" style="float:left;">
                        <i class="fa fa-circle fa-stack-2x ca-red-circle"></i>
                        <strong class="fa-stack-1x ca-number-in-circle">6</strong>
                    </span>
                    <h6>Messages:</h6>
                    <p class="card-text">Message capability within the app</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card card-block ca-text-center">
                <p class="card-text">After running the first user testing rounds, we were able to make changes and add more information to these low-fidelity wireframes</p>
            </div>
        </div>
    </div>

    <div class="row" id="ca-row-3">
        <div class="col-xs-12">
            <div class="card card-block">
                <h3 class="card-header ca-text-center">PROTOTYPE</h3>
                <p class="card-text">Seeing is different than imagining, we finally had a low fidelity prototype in Invision. We used this prototype in user testing, we were able to see the interaction between users and interface</p>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="card card-block">
                <h3 class="card-header ca-text-center">USER TESTING</h3>
                <p class="card-text">Our prototype was ready in Invision. We decided to understand our product from the customer's perspective through user testing. We had users go through different tasks, we were able to see them struggle and misunderstand some parts of the design.</p>
            </div>
        </div>

        <blockquote class="blockquote ca-text-center">*High-fidelity wireframes, user testing findings and prototype link will be sent by request*</blockquote>
    </div>
    <div class="row" appCaGreenLineDivider id="ca-row-4"></div>
</div>
