<div class="container">
    <div class="row ca-row-alternate">
        <div class="card card-block">
            <p class="card-text ca-text-justify">I learned the process of information architecturing and how important is not to make many changes into a current website but just the minimal useful modification to amket he user's experience more pleasurable and simple.</p>
            <p class="card-text ca-text-justify text-muted">As I said before, this project was really challenging. It was the first time I used Invision and Sketch to create the clickable prototype, and faced some difficulties getting familiar with the programs. </p>
        </div>
    </div>

    <div class="row" appCaGreenLineDivider="" marginTop="40px" marginBottom="40px"></div>
</div>
