<div class="jumbotron jumbotron-fluid" id="mainJumbotron">
  <div class="container">
    <p class="jumbotronMainText">WELCOME <br> I AM NORKA AVALOS <br> UX/UI DESIGNER</p>
    <hr>
    <p class="jumbotronSecondText">
      "Lets design it to behave as a person: respectful, generous and helpful" - Alan Cooper
    </p>
  </div>
</div>

<div class="container-fluid">
  <div class="col-sm-6">
    <div class="card">
      <img src="http://placehold.it/600x450" alt="" class="card-img-top">
    </div>
  </div>

  <div class="col-sm-6">
    <p>My name is Norka Avalos. I am a UX/UI Designer with problem solving and creative skills training and expirience. For my projects I get inspired by the new trends and research.</p>
    <blockquote class="blockquote">
      "Desing is not only make it look pretty but useful"
    </blockquote>
    <p>
      My ideal project will be one that has a human casue behind and work with people I can learn from. Could I ask for more?
    </p>
  </div>
</div>
