<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">I AM</h1>
        <h1 class="display-3">NORKA AVALOS</h1>
        <h1 class="display-3">UX/UI DESIGNER</h1>
        <blockquote class="blockquote landingpage">"Let's design it to behave as a person: respectful, generous and helpful" - Alan</blockquote>
        <!--<blockquote class="blockquote">respectful, generous and helpful" - Alan</blockquote>-->
        <blockquote class="blockquote">Cooper</blockquote>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-5 offset-md-1">
        <div class="card">
                <img class="card-img" src="assets/images/temp-personal.jpg" alt="personal image" width="100%">
        </div>
    </div>
    <div class="col-xs-12 col-md-5">
        <div class="card text-center">
            <div class="card-title"></div>
            <div class="card-block">
                <p class="card-text">My name is Norka Avalos. I am a UX/UI Designer with problem solving and creative skills training and experience . For my projects I get inspired by the new trends and research.</p>
                <br>
                <blockquote class="blockquote">"Design is not only make it look pretty but useful"</blockquote>
                <br>
                <p class="card-text">My ideal project will be one that has a human cause behind and work with people I can learn from. <br> Could I ask for more?</p>
            </div>
        </div>
    </div>
</div>
