<div class="container-fluid">
    <div class="row" id="background">
        <div class="col-xs-12" id="ca-row-1">
            <div class="card card-block" id="quoteCardBlock">
                <i class="fa fa-2x fa-quote-left" aria-hidden="true"></i>
                <blockquote class="blockquote">Lets design it to behave as a person: respectful, generous and helpful
                    <footer class="blockquote-footer">Alan Cooper</footer>
                </blockquote>
                <i class="fa fa-2x fa-quote-right" aria-hidden="true"></i>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="row ca-row-alternate" id="ca-row-2">
                <div class="col-xs-6">
                    <div class="card card-block">
                        <h3 class="card-header ca-text-center">ABOUT ME</h3>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="card card-block">
                        <p class="card-text ca-text-justify">My name is Norka Avalos. I am a UX/UI Designer with hands on experience in all aspects of UX/UI design from
                            the research stage to user testing. I am a strong believer that testing is as important as the interface
                            itself. I spend my free time learning new trends and aspects of design and getting familiar with coding.</p>
                        <p class="card-text">An ideal project owuld be working with people I can learn from and get involved with different cultures for
                            the benefit of the project itself.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12" id="ca-row-3">
            <div class="card ca-text-center">
                <img src="assets/images/woman.png" alt="" class="card-img-top" width="40%">
            </div>
        </div>
        <div class="col-xs-12" id="ca-row-4">
            <div class="card ca-text-center">
                <img src="assets/images/logo.png" alt="" class="card-img-top" width="30%">
            </div>
        </div>
    </div>
</div>
