@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/mixins/_breakpoints.scss";

#mainJumbotron{
  height: 100vh;
}

p {
  &.jumbotronMainText {
    @include media-breakpoint-up(sm) {
      font-size: 40px;
    }

    @include media-breakpoint-up(md) {
      font-size: 50px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 80px;
    }
  }
}
