<router-outlet></router-outlet>
<div class="container">
    <div class="row">
        <div class="col-xs-9 offset-xs-1">
            <div class="card">
                <img src="assets/images/givz/1.jpg" alt="" class="card-img-top" width="100%" height="80%">
                <div class="card-block">
                    <h4 class="card-header">GIVZ: Donation App</h4>
                    <p class="card-text">Allow people to make monetary donations to charities easily</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="card ca-card-text">
                <div class="card-block">
                    <h6 class="card-header">Date Timeline</h6>
                    <p class="card-text">08/05/2016 <br> 08/29/2016</p>
                </div>
            </div>
            <div class="card ca-card-text">
                <div class="card-block">
                    <h6 class="card-header">Tools Used</h6>
                    <p class="card-text">Google forms</p>
                    <p class="card-text">Omnigraffle</p>
                    <p class="card-text">Sketch</p>
                    <p class="card-text">Invision</p>
                </div>
            </div>
            <div class="card ca-card-text">
                <div class="card-block">
                    <h6 class="card-header">Target Device</h6>
                    <p class="card-text">iOS</p>
                </div>
            </div>
        </div>
    </div> <!-- ./row -->

    <div class="row ca-row-alternate">
        <div appCaLineOnTop text="TEAM"></div>
        <div class="col-xs-10 offset-xs-2">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <p class="card-text">We were a dedicated team able to manage multiple tasks ranging in different areas of the design process</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="assets/images/givz/2.jpg" alt="" class="card-img-top" width="100%">
                        <div class="card-block">
                            <h6 class="card-header">Norka Avalos</h6>
                            <p class="card-text">Lead Designer <br> Researcher</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="assets/images/givz/2.jpg" alt="" class="card-img-top" width="100%">
                        <div class="card-block">
                            <h6 class="card-header">Enrique Gonzales</h6>
                            <p class="card-text">Project Manager <br> Interaction Designer <br> Researcher</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- ./row.alternate -->

    <div class="row">
        <div appCaLineOnTop text="PROJECT<br>SUMMARY"></div>
        <div class="col-xs-8 offset-xs-4">
            <div class="card">
                <div class="card-block">
                    <p class="card-text">Givz will be an app that allows people to donate to charities easily. It will streamline the process of donating to a charity of choice with innovative, quik, simple user interface. My role was to research, design and test all UIs related to the project. I collaborated with research, design, product develop and prototyping to launch this project.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

